<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" media="all" href="/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" media="all" href="/css/custom.css" type="text/css">
    <script src="/cv/js/jquery.min.js"></script>
    <script src="/cv/js/modernizr.js"></script>
  </head>
  <body class='cv'>
    {% include analytics.html %}
    <main>
      <header class="site-header">
        <div class="container">
          <h1><a href="{{ "/" | prepend: site.baseurl }}">antas<span>.cz</span></a></h1>
        </div>
      </header>

      <div class="container">
        {{ content }}
      </div>

      {% include github-corner.html %}

      <script>
        $(document).ready(function() {
          $('.sliding-panel-button,.sliding-panel-fade-screen,.sliding-panel-close').on('click touchstart',function (e) {
            $('.sliding-panel-content,.sliding-panel-fade-screen').toggleClass('is-visible');
            e.preventDefault();
          });
        });
      </script>
    </main>
  </body>
</html>
